.chats-side-list {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  border-right: 1px solid @border-color-base;
  overflow-y: scroll;
  // overflow: hidden;
  .chat-list {
    width: 100%;
    overflow: hidden;
    background: @component-background;
  }
  .chat-item {
    width: 100%;
    background-color: @menu-bg;
    border-bottom: 1px solid @border-color-base !important;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: @background-color-light;
    }
    // .current {
    //   background-color: rgba(0, 0, 0, 0.05);
    // }
    .chat-item-tag {
      margin: 0 5px;
      padding: 0 2px;
      font-size: 10px;
      color: @primary-color;
    }
    .chat-item-avatar {
      background: @avatar-bg;
      border: @border-color-base;
      color: @primary-color;
      // margin-left: 15px;
    }
    &.current {
      background-color: @background-color-light;
    }
  }
}
.chat-title {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}
