.unsupported-screen-size-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main-logo {
    height: 150px;
    margin-bottom: 48px;
  }
  .title-text {
    margin-bottom: 12px;
    width: 70%;
    min-width: 280px;
    text-align: center;
  }
  .subtitle-text {
    font-size: 16px;
    margin-bottom: 56px;
    width: 50%;
    min-width: 280px;
    text-align: center;
    font-weight: normal;
  }
  .google-logo {
    height: 80px;
  }
  .apple-logo-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    height: 60px;
  }
  .apple-logo {
    border-radius: 13px;
    height: 60px;
  }
}
