{
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ],
  "ignore": [
    "src/graphql/**/*.graphql",
    "src/graphql/**/generated.ts",
    "src/**/*.generated.ts",
    "src/graphql/**/types.ts",
    "src/**/!(*.generated).{ts,tsx}"
  ]
}
