.eslintrc
.gitignore
.npmrc
.prettierignore
.prettierrc
gulpfile.js
package.json
README.md
tsconfig.json
yarn-error.log
yarn.lock

node_modules
build
coverage

src/serviceWorker.js
src/graphql/*
src/graphql-src/*
src/configs/*
vite.config.ts
jest.config.js
src/vite-env.d.ts
dist
src/images/*
src/setupTests.ts
src/assets/*
public

#
#src/components/shared-components/AntD/*
#src/components/util-components/AntD/*
#src/components/layout-components/AntD/*
#
#src/components/shared-components/*
#src/components/util-components/*
#src/components/layout-components/*

#
#src/components/react-flow/*
#src/components/TabbedView/*

*.css
*.less
*.test.ts*
src/graphql/generated/*

postInstall.js
en/lang.json
