{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb",
    "airbnb-typescript",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint", "sonarjs", "unicorn", "formatjs"],
  "ignorePatterns": [".eslintrc.js", ".postInstall.js"],
  "rules": {
    "formatjs/no-offset": "error",
    "formatjs/enforce-default-message": ["error", "literal"],
    "formatjs/no-literal-string-in-jsx": [
      2,
      {
        "props": {
          "include": [
            ["*", "message"],
            ["*", "description"],
            ["*", "title"],
            ["*", "label"],
            ["*", "okText"],
            ["*", "cancelText"],
            ["*", "header"],
            ["*", "placeholder"],
            ["Form.Item", "tooltip"]
          ]
        }
      }
    ],
    "formatjs/enforce-id": [
      "error",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "idWhitelist": ["^const_.*"]
      }
    ],
    "formatjs/enforce-placeholders": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "arrow-body-style": ["error", "as-needed"],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-void": ["error", { "allowAsStatement": true }],
    "import/no-named-as-default": 0,
    "react/require-default-props": "off",
    "sonarjs/no-duplicate-string": 1,
    "sonarjs/cognitive-complexity": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "@typescript-eslint/space-before-blocks": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-null": "off",
    "unicorn/no-useless-undefined": "off",
    "unicorn/no-array-callback-reference": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/prefer-dom-node-text-content": "off",
    "unicorn/prefer-add-event-listener": "off",
    "react/destructuring-assignment": "error",
    "unicorn/prefer-query-selector": "off",
    "no-restricted-exports": "off",
    "unicorn/expiring-todo-comments": "off",

    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports"
      }
    ]
  }
}
