.eslintcache
.eslintrc
.gitignore
.npmrc
.prettierignore
.prettierrc
gulpfile.js
package.json
README.md
tsconfig.json
yarn-error.log
yarn.lock

node_modules
build
coverage

src/serviceWorker.js
src/setupTests.js
src/old-components/*
src/graphql/*
src/graphql-src/*
src/configs/*
src/constants/*
src/components/shared-components/*
src/components/util-components/*
src/components/layout-components/*

src/images/*

*.css

src/graphql/generated/*