@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=A1E8487C-1062-4933-A537-D4B88776FD95
@importok:registry=https://npm.importok.io/
//npm.importok.io/:_authToken=qzMTduEfdOFvFYNKov8jZZnAAdwIR+ZQKsOs8chS9c8=