node_modules
build
coverage
.eslintcache
/en/lang.json
src/graphql/generated.ts
src/graphql/types.ts
*.generated.ts*
public/
src/**/!(*.generated).{ts,tsx}
src/operationNames.txt
__generated__/*
plugins
