body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font: 12pt 'Tahoma';
  color: #000000;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 0.5cm;
  margin: 1cm auto;
  background: white;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

@page {
  size: A4;
  margin: 20px 0 0;
}
@media print {
  .page {
    margin: 10px 0 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
