.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #de4436;
}
.clickable-row {
  cursor: pointer;
}
.footer {
  font-size: 12px;
  height: 30px;
}
@font-face {
  font-family: 'Caveat';
  src: url(@/assets/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: 'Dancing Script';
  src: url(@/assets/fonts/DancingScript-Regular.ttf);
}
@font-face {
  font-family: 'Homemade Apple';
  src: url(@/assets/fonts/HomemadeApple-Regular.ttf);
}
@font-face {
  font-family: 'Permanent Marker';
  src: url(@/assets/fonts/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: 'Rock Salt';
  src: url(@/assets/fonts/RockSalt-Regular.ttf);
}
.logo {
  display: none;
}
.printable-graph {
  width: 90%;
  height: 400px;
}
.no-break {
  page-break-inside: avoid;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  @page {
    size: A4;
    margin: 10mm;
    background: #fff;
  }
  .ant-card-bordered {
    border: 0 solid #000;
  }
  .logo,
  .print-title {
    width: 100%;
    justify-content: center;
  }
  .logo {
    display: flex;
    height: 100px;
    margin-bottom: 10px;
  }
  .print-title {
    text-align: center;
  }
  .printable-graph {
    width: 90% !important;
    max-width: 90% !important;
  }
  .ant-table-pagination {
    display: none;
  }
  .page {
    overflow-y: unset !important;
    height: unset !important;
    page-break-inside: avoid;
  }
}
