.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #de4436;
}
.clickable-row {
  cursor: pointer;
}
.footer {
  font-size: 12px;
  height: 30px;
}
@font-face {
  font-family: 'Caveat';
  src: url(@/assets/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: 'Dancing Script';
  src: url(@/assets/fonts/DancingScript-Regular.ttf);
}
@font-face {
  font-family: 'Homemade Apple';
  src: url(@/assets/fonts/HomemadeApple-Regular.ttf);
}
@font-face {
  font-family: 'Permanent Marker';
  src: url(@/assets/fonts/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: 'Rock Salt';
  src: url(@/assets/fonts/RockSalt-Regular.ttf);
}
.overlay {
  z-index: 1000;
}
.logo,
.print-title {
  width: 100%;
  justify-content: center;
}
.logo {
  display: flex;
  height: 100px;
  margin-bottom: 15px;
}
.print-title {
  text-align: center;
}
.printable-graph {
  width: 90%;
  height: 400px;
}
.no-break {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.print-body {
  width: 1100px;
  -webkit-column-break-inside: auto;
  break-inside: auto;
}
.print-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.stats-row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.card-remove {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
.change-graph1,
.change-graph2,
.change-graph3 {
  position: absolute;
  right: 40px;
  top: 5px;
  z-index: 1;
}
.change-graph2,
.change-graph3 {
  right: 70px;
}
.change-graph3 {
  right: 100px;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  @page {
    size: A4;
    margin: 10mm;
    background: #fff;
  }
  .ant-card-bordered {
    border: 0 solid #000;
  }
  .ant-card-body {
    overflow: unset !important;
  }
  .react-resizable-handle {
    display: none !important;
  }
  .react-grid-item {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
  }
  .logo {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    margin-bottom: 10px;
  }
  .ant-table-body {
    overflow-y: unset !important;
  }
  .ant-table-column-sort {
    background: 0 0 !important;
  }
  .print-title {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .print-container {
    display: block;
  }
  .printable-graph {
    width: 90% !important;
    max-width: 90% !important;
  }
  .ant-table-pagination {
    display: none;
  }
  .page {
    overflow-y: unset !important;
    height: unset !important;
    page-break-inside: avoid;
  }
}
