.offenders-side-list {
  margin: 0;
  padding: 0;
  max-height: calc(100vh - 70px);
  width: 100%;
  border-right: 1px solid #edf2f9;
  overflow-y: scroll;
}
.offenders-side-list .offender-item {
  width: 100%;
  background-color: #fff;
}
.offenders-side-list .offender-item:hover {
  background-color: #fafafa;
}
.offenders-side-list .offender-item .offender-item-image {
  height: 110px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.offenders-side-list .offender-item .offender-item-image-skeleton {
  height: 110px;
  width: 100px;
}
.offenders-side-list .offender-item .offender-item-content {
  padding: 10px;
}
.offenders-side-list .offender-item .offender-item-divider {
  margin: 0px;
}
.offenders-side-list .offender-item .offender-item-desc {
  font-size: 12px;
  margin-bottom: 10px;
}
.offenders-side-list .offender-item .offender-item-detail {
  font-size: 12px;
  margin-bottom: 0px;
}
.offenders-side-list .offender-item .offender-item-icon {
  margin-right: 8px;
  color: #de4436;
}
.offenders-side-list .ant-pagination {
  margin: 15px 0;
  text-align: center;
}
.offender-item.current {
  background-color: #fafafa;
}
