.chats-side-list {
  margin: 0;
  padding: 0;
  height: calc(100vh - 70px);
  width: 100%;
  border-right: 1px solid #e0e0e0;
  overflow-y: scroll;
  overflow: hidden;
  .chat-item {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5 !important;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
    // .current {
    //   background-color: rgba(0, 0, 0, 0.05);
    // }
  }
}
.chat-item.current {
  background-color: rgba(0, 0, 0, 0.05);
}
