.chats-side-list {
  margin: 0;
  padding: 0;
  height: calc(100vh - 70px);
  max-width: 100%;
  border-right: 1px solid #e0e0e0;
  overflow-y: scroll;
  // overflow: hidden;
  .chat-list {
    width: 100%;
    overflow: hidden;
    background: pink;
  }
  .chat-item {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5 !important;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
    // .current {
    //   background-color: rgba(0, 0, 0, 0.05);
    // }
    .chat-item-tag {
      margin: 0 5px;
      padding: 0 2px;
      font-size: 10px;
      color: rgb(222, 68, 54);
    }
  }
}
.chat-item.current {
  background-color: rgba(0, 0, 0, 0.05);
}
.chat-title {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}
