.previous-location {
  .ant-radio-wrapper {
    align-items: center;
  }
  
  .ant-radio-inner {
    position: relative;
    &:after {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }
}

