.ant-menu-item {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0px;

  span {
    font-size: 13px;
  }
  .anticon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}