.incident-form-offender-card {
  width: 120;
  height: 120;
  position: relative;
  background-size: cover;
  padding: 0;
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.incident-form-offender-Paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(0;0;0;.5);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 3px 10px 3px;
}
