@import './styles/variables/_colors.less';
@import './styles/components/feedback/_spin.less';
@import './alert/index.less';

.loading {
    .ant-spin {
        color: @primary-color;
    }
}

.clickable-row {
    cursor: pointer;
}

.footer {
    font-size: 12px;
    height: 30px;
}