.feed-card {
  .no-image.incident-card {
    height: 220px;
  }
  .incident-title {
    h3 {
      margin-bottom: -3px;
    }
  }
  .incident-card-date {
    font-size: 12px;
    margin-right: 3px;
  }
  .incident-groups {
    .group {
      margin-right: 4px;
    }
  }
  .alert-crime-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 3px 0px 6px 0;
    .main-tag {
      width: auto;
      margin-left: 0;
      font-size: 12px;
    }
  }
}
