.incidents-side-list {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 70px);
  width: 100%;
  max-width: 300px;
  border-right: 1px solid rgb(237, 242, 249);
  overflow-y: scroll;

  .incident-item {
    width: 100%;
    background-color: #fff;

    &:hover {
      background-color: #fafafa;
    }

    .incident-item-image {
      height: 110px;
      width: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .incident-item-image-skeleton {
      height: 110px;
      width: 100px;
    }

    .incident-item-content {
      padding: 10px;
    }

    .incident-item-divider {
      margin: 0px;
    }

    .incident-item-desc {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .incident-item-detail {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }
  .ant-pagination {
    margin: 15px 0;
    text-align: center;
  }
}

.incident-item.current {
  background-color: #fafafa;
}
