.feed-search-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;

  .spacer {
    width: 30%;
  }

  .search-filter-bar-container {
    display: flex;
    align-items: center;
    width: 35%;
  }

  .applied-filters-container {
    display: flex;
    justify-content: center;
    width: 30%;

    .applied-filters {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      cursor: pointer;
      user-select: none;
      margin-right: 36px;
    }
  }
}
