.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-card .banner-container {
  position: absolute;
  width: 75px;
  height: 75px;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-card .banner-rotation {
  background-color: #ef5350;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 5px 50px;
}
.feed-card .banner-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.feed-card .tags-container {
  display: flex;
  align-items: center;
  position: absolute;
  height: 38px;
  top: 227px;
  left: 0;
  z-index: 5;
}
.feed-card .main-tag {
  background-color: #df4032;
  color: #fff;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 0 6px;
}
.feed-card .more-tags {
  color: #df4032;
  background-color: #fff;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0.8;
  padding: 1px 6px;
}
.feed-card {
  max-width: 100%;
  min-width: 100%;
  margin: 5px 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 0.5px solid #72849a36;
  position: relative;
}
@media (min-width: 650px) {
  .feed-card {
    width: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    min-width: calc(50% - 1rem);
    margin: 0.5rem;
  }
}
@media (min-width: 1240px) {
  .feed-card {
    width: calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    min-width: calc(33.33% - 10px);
    margin: 5px;
  }
}
@media (min-width: 1800px) {
  .feed-card {
    width: calc(25% - 2rem);
    max-width: calc(25% - 2rem);
    min-width: calc(25% - 2rem);
    margin: 5rem;
  }
}
.feed-card .ant-card-body {
  padding: 0;
}
.feed-card .dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  z-index: 5;
  cursor: pointer;
}
.feed-card .dropdown-menu .kebab {
  height: 42px;
  width: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
}
.feed-card .dropdown-menu .kebab .dot {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #757575;
}
.feed-card .image-carousel {
  position: relative;
  height: 265px;
  width: 100%;
}
.feed-card .image-carousel img {
  width: 100%;
  height: 265px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.feed-card .image-carousel .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 121.5px;
  z-index: 3;
  width: 32px;
  height: 32px;
  padding: 6px;
  margin: 6px;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.2s;
}
.feed-card .image-carousel .arrow:active {
  background-color: rgba(44, 44, 44, 0.6);
}
.feed-card .image-carousel .left {
  left: 0;
}
.feed-card .image-carousel .right {
  right: 0;
}
.feed-card .image-carousel button {
  border: none;
  background-color: transparent;
}
.feed-card .image-carousel .dots {
  margin-bottom: 25px;
}
.feed-card .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.feed-card .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  position: relative;
  display: flex;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  justify-content: space-between;
  flex: 1;
  margin: 0;
}
.feed-card .ant-tabs-bottom > .ant-tabs-nav,
.feed-card .ant-tabs-bottom > div > .ant-tabs-nav,
.feed-card .ant-tabs-top > .ant-tabs-nav,
.feed-card .ant-tabs-top > div > .ant-tabs-nav {
  margin: 0;
}
.feed-card .ant-tabs-tab {
  margin: 0;
  width: 130px;
  display: flex;
  justify-content: center;
}
.feed-card .ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
  width: 130px;
  display: flex;
  justify-content: center;
}
.feed-card .tab-pane-content {
  height: 215px;
}
.feed-card .empty-content span.ant-typography {
  text-align: center;
}
.feed-card .no-image {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #d7d7d7;
}
.feed-card .no-image .ant-typography {
  color: #959595;
  margin-top: 4px;
}
.feed-card .unapproved-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 8;
  margin: 0;
}
.feed-card .unapproved-overlay h3.ant-typography {
  color: #fff;
}
.feed-card .unapproved-overlay span.ant-typography {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}
.feed-card .unapproved-options {
  position: absolute;
  top: 225px;
  left: 0;
  z-index: 6;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
}
.feed-card .unapproved-options .option {
  margin-top: 0;
  margin-bottom: 0;
  height: 32px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.feed-card .unapproved-options .approve {
  color: #4caf50;
}
.feed-card .unapproved-options .decline {
  color: #f44336;
  flex: 1;
}
.feed-card .unapproved-options .cancel {
  color: #bdbdbd;
}
.feed-search-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.feed-search-filter-container .spacer {
  width: 30%;
}
.feed-search-filter-container .search-filter-bar-container {
  display: flex;
  align-items: center;
  width: 35%;
}
.feed-search-filter-container .applied-filters-container {
  display: flex;
  justify-content: center;
  width: 30%;
}
.feed-search-filter-container .applied-filters-container .applied-filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 36px;
}
.search-filter-bar {
  display: flex;
  width: 100%;
}
.search-filter-bar .input-container {
  display: flex;
  width: 100%;
  align-items: center;
}
.search-filter-bar .input-container .search-icon {
  font-size: 22px;
  color: #ef5350;
  margin-right: 10px;
}
.search-filter-bar .icons-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
}
.search-filter-bar .icons-container .icon {
  color: #ef5350;
}
.search-filter-bar .icons-container .filter {
  font-size: 28px;
  margin-right: 5px;
}
.search-filter-bar .icons-container .arrow {
  font-size: 21px;
  color: #ef5350;
}
.search-filter-bar .icons-container .up {
  margin-bottom: 8px;
}
.search-filter-bar .icons-container .down {
  margin-top: 8px;
  margin-left: -8px;
}
.loading .ant-spin {
  color: #de4436;
}
.clickable-row {
  cursor: pointer;
}
.footer {
  font-size: 12px;
  height: 30px;
}
