.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-card .no-image.incident-card {
  height: 220px;
}
.feed-card .incident-title h3 {
  margin-bottom: -3px;
}
.feed-card .incident-card-date {
  font-size: 12px;
  margin-right: 3px;
}
.feed-card .incident-groups .group {
  margin-right: 4px;
}
.feed-card .alert-crime-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 0px 6px 0;
}
.feed-card .alert-crime-tags .main-tag {
  width: auto;
  margin-left: 0;
  font-size: 12px;
}
.incident-card .ant-card-body {
  position: relative;
  padding: 0px;
  overflow: hidden;
}
.incident-card .incident-card-image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.incident-card .incident-card-tags {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 50px);
  z-index: 1;
}
.incident-card .incident-card-tag {
  background: #ffffff;
  border-color: #de4436;
  font-weight: 500;
  color: #de4436;
}
.incident-card .ant-tabs-nav {
  margin: 0;
}
.incident-card .ant-tabs-nav-list {
  width: 100%;
}
.incident-card .ant-tabs-tab {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  flex: 2;
  text-align: center;
  display: flex;
  justify-content: center;
}
.incident-card .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations,
.incident-card .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations {
  display: none;
}
.incident-card .incident-card-content {
  padding: 10px;
  height: 225px;
  overflow: auto;
}
.incident-card .incident-card-desc {
  height: 80px;
  overflow: auto;
  margin-bottom: 0;
  margin-top: 10px;
}
.incident-card .incident-card-location-row {
  margin-top: 5px;
}
.incident-card .incident-card-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  z-index: 2;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
}
.incident-card .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.incident-card .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  padding: 0px 15px;
}
.incident-card .incident-card-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 16;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.incident-card .incident-card-approval-title {
  color: #fff;
  margin-bottom: 15px;
}
.incident-card .incident-card-controls {
  position: absolute;
  left: 0;
  right: 0;
  top: 135px;
  z-index: 2;
}
.incident-card .incident-card-control {
  color: #FFF;
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease;
}
.incident-card .incident-card-control:hover {
  font-size: 1.8em;
  margin-top: -4px;
}
.incident-card .incident-card-icon {
  margin-right: 5px;
  color: #de4436;
}
.incident-card .incident-card-expand {
  position: absolute;
  right: 0;
  top: 248px;
  color: #FFF;
  padding: 15px;
  cursor: pointer;
  font-size: 1.6em;
  transition: all 0.2s ease;
}
.incident-card .incident-card-expand:hover {
  font-size: 1.8em;
  top: 246px;
}
.incident-card .incident-card-offender-image {
  height: 85px;
  width: 85px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.incident-card .incident-card-offender-content {
  margin-left: 5px;
}
.incident-card .incident-card-offender-placeholder {
  height: 85px;
  width: 85px;
  border-radius: 5px;
  background-color: #E0E0E0;
}
.incident-card .incident-card-offender {
  margin-top: 10px;
  margin-bottom: 20px;
}
.incident-card .ant-skeleton-element {
  width: 100%;
}
.incident-card .ant-skeleton-image {
  width: 100%;
  height: 300px;
}
.feed-container {
  padding: 10px;
}
.unsupported-screen-size-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.unsupported-screen-size-container .main-logo {
  height: 150px;
  margin-bottom: 48px;
}
.unsupported-screen-size-container .title-text {
  margin-bottom: 12px;
  width: 70%;
  min-width: 280px;
  text-align: center;
}
.unsupported-screen-size-container .subtitle-text {
  font-size: 16px;
  margin-bottom: 56px;
  width: 50%;
  min-width: 280px;
  text-align: center;
  font-weight: normal;
}
.unsupported-screen-size-container .google-logo {
  height: 80px;
}
.unsupported-screen-size-container .apple-logo-container {
  display: inline-block;
  overflow: hidden;
  border-radius: 13px;
  height: 60px;
}
.unsupported-screen-size-container .apple-logo {
  border-radius: 13px;
  height: 60px;
}
.feed-card .banner-container {
  position: absolute;
  width: 75px;
  height: 75px;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-card .banner-rotation {
  background-color: #ef5350;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 5px 50px;
}
.feed-card .banner-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.feed-card .tags-container {
  display: flex;
  align-items: center;
  position: absolute;
  height: 38px;
  top: 227px;
  left: 0;
  z-index: 5;
}
.feed-card .main-tag {
  background-color: #df4032;
  color: #fff;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 0 6px;
}
.feed-card .more-tags {
  color: #df4032;
  background-color: #fff;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0.8;
  padding: 1px 6px;
}
.feed-card .offender-content-container {
  padding: 12px 14px 14px 14px;
  cursor: pointer;
}
.feed-card .offender-tab-pane-content {
  padding: 12px 14px 14px 14px;
  cursor: pointer;
}
.feed-card .offender-tab-pane-content .offender-groups {
  margin-bottom: 5px;
}
.feed-card .offender-tab-pane-content .offender-groups .group {
  border-radius: 3px;
  padding-right: 6px;
  margin-right: 3px;
}
.feed-card .offender-tab-pane-content .offender-groups .group span.ant-typography {
  color: #de4436;
  font-weight: 100;
  font-size: 12px;
}
.feed-card .offender-tab-pane-content .title h3 {
  margin-bottom: -4px;
}
.feed-card .offender-tab-pane-content .title span {
  font-size: 12px;
}
.feed-card .offender-tab-pane-content .icon-container span {
  color: #de4436;
  margin-right: 8px;
}
.feed-card .offender-tab-pane-content .spacer {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 1px;
  margin: 5px 0px;
}
.feed-card .offender-tab-pane-content h4 {
  margin-bottom: 0px;
  margin-top: 4px;
}
.feed-card .offender-tab-pane-content .expired {
  margin-left: 4px;
}
.feed-card .offender-tab-pane-content .date-time {
  font-size: 12px;
  margin-top: -2px;
  margin-bottom: 3px;
}
.feed-card .offender-tab-pane-content .margin-top {
  margin-top: 10px;
}
.feed-card .offender-tab-pane-content .location {
  height: 18px;
}
.feed-card .offender-tab-pane-content .location .icon-container {
  display: flex;
}
.feed-card .offender-tab-pane-content .location .icon {
  padding-top: 3px;
  margin-right: 3px;
}
.feed-card .offender-tab-pane-content .location span {
  font-size: 12px;
}
.feed-card .offender-tab-pane-content .location .margin {
  margin-left: 6px;
}
.feed-card .offender-tab-pane-content button {
  color: #de4436;
  height: 28px;
  padding: 3px 12px;
  margin-top: 14px;
}
.view-offender-title .title h3 {
  margin-bottom: -4px;
}
.view-offender-title .title span {
  font-size: 12px;
  font-weight: 400;
}
.view-offender-drawer .ant-drawer-header {
  padding: 12px 24px 6px 24px;
}
.view-offender-drawer .ant-drawer-body {
  padding: 12px 24px 24px 24px;
}
.view-offender-drawer .image-carousel {
  position: relative;
  height: 265px;
  width: 200px;
  border-radius: 6px;
  overflow: hidden;
}
.view-offender-drawer .image-carousel img {
  width: 100%;
  height: 265px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-offender-drawer .no-image {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #d7d7d7;
}
.view-offender-drawer .no-image .ant-typography {
  color: #959595;
  margin-top: 4px;
}
.view-offender-drawer .location .icon-container {
  display: flex;
  padding-top: 1px;
  margin-right: 4px;
}
.view-offender-drawer .location .icon-container span {
  color: #de4436;
}
.view-offender-drawer .location span {
  font-size: 12px;
  font-weight: 400;
}
.view-offender-drawer .offender-content-container {
  padding: 0px 14px;
  cursor: pointer;
}
.view-offender-drawer .offender-details {
  padding: 0px 14px;
  cursor: pointer;
}
.view-offender-drawer .offender-details .offender-groups {
  margin-bottom: 5px;
}
.view-offender-drawer .offender-details .offender-groups .group {
  border-radius: 3px;
  padding-right: 6px;
  margin-right: 3px;
}
.view-offender-drawer .offender-details .offender-groups .group span.ant-typography {
  color: #de4436;
  font-weight: 500;
  font-size: 16px;
}
.view-offender-drawer .offender-details .additional-info {
  font-size: 16px;
  margin-top: 12px;
}
.view-offender-drawer .offender-details .location {
  margin-top: 12px;
}
.view-offender-drawer .tags-container {
  display: flex;
  flex-wrap: wrap;
  margin: 6px 0 0 0;
}
.view-offender-drawer .main-tag {
  background-color: #df4032;
  color: #fff;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 6px 6px 0 0;
}
.view-offender-drawer .ant-divider.ant-divider-horizontal {
  margin: 24px 0 12px 0;
}
.view-offender-drawer .list-offender-items-exclusion .ant-collapse-item {
  margin-bottom: 12px;
}
.view-offender-drawer .list-offender-items-exclusion .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  display: flex;
}
.view-offender-drawer .list-offender-items-exclusion .ant-collapse > .ant-collapse-item > .ant-collapse-header .anticon.anticon-right.ant-collapse-arrow {
  margin-top: 4px;
  margin-right: 6px;
}
.view-offender-drawer .list-offender-items-exclusion .exclusion-list-item {
  width: 253px;
}
.view-offender-drawer .list-offender-items-exclusion .exclusion-list-item .exclusion-title {
  margin-bottom: 0px;
}
.view-offender-drawer .list-offender-items-exclusion .exclusion-list-item .expired {
  margin-left: 4px;
}
.view-offender-drawer .list-offender-items-exclusion .exclusion-list-item .location {
  margin-top: 2px;
}
.view-offender-drawer .list-offender-items-exclusion .exclusion-list-item .location .icon-container {
  padding-top: 2px;
}
.view-offender-drawer .list-offender-items-exclusion .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
  padding-left: 24px;
  padding-top: 3px;
}
.view-offender-drawer .list-offender-items-exclusion .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .ant-row:nth-of-type(1) {
  margin: 3px 0 6px 0;
  line-height: 1.1;
}
.view-offender-drawer .list-offender-items-exclusion .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .ant-row:nth-of-type(2) span {
  line-height: 1.1;
  font-size: 12px;
}
.view-offender-drawer .list-offender-items-exclusion .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .ant-row:nth-of-type(3) span {
  font-size: 12px;
  line-height: 1.1;
}
.view-offender-drawer .list-offender-items-exclusion .ant-divider.ant-divider-horizontal {
  margin: 12px 0 6px 0;
}
.view-offender-drawer .list-offender-items-incident .ant-collapse-item {
  margin-bottom: 12px;
}
.view-offender-drawer .list-offender-items-incident .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  display: flex;
}
.view-offender-drawer .list-offender-items-incident .ant-collapse > .ant-collapse-item > .ant-collapse-header .anticon.anticon-right.ant-collapse-arrow {
  margin-top: 4px;
  margin-right: 6px;
}
.view-offender-drawer .list-offender-items-incident .incident-list-item {
  width: 278px;
}
.view-offender-drawer .list-offender-items-incident .incident-list-item .incident-title {
  margin-bottom: 0px;
}
.view-offender-drawer .list-offender-items-incident .incident-list-item .date-time {
  font-size: 12px;
  margin-top: -2px;
  margin-bottom: 3px;
}
.view-offender-drawer .list-offender-items-incident .incident-list-item .location {
  margin-top: 2px;
}
.view-offender-drawer .list-offender-items-incident .incident-list-item .location .icon-container {
  padding-top: 2px;
}
.view-offender-drawer .list-offender-items-incident .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
  padding-left: 18px;
  padding-top: 3px;
}
.view-offender-drawer .list-offender-items-incident .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .ant-row:nth-of-type(1) {
  margin: 3px 0 6px 0;
  line-height: 1.1;
}
.view-offender-drawer .list-offender-items-incident .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .ant-row:nth-of-type(2) span {
  line-height: 1.2;
}
.view-offender-drawer .list-offender-items-incident .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .ant-row:nth-of-type(3) span {
  font-size: 12px;
}
.view-offender-drawer .list-offender-items-incident .incident-image {
  border-radius: 5px;
  width: 100%;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-offender-drawer .list-offender-items-incident .no-image {
  border-radius: 5px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #d7d7d7;
}
.view-offender-drawer .list-offender-items-incident .no-image .ant-typography {
  color: #959595;
  margin-top: 4px;
  font-size: 10px;
}
.view-offender-drawer .list-offender-items-incident .description {
  font-size: 12px;
}
.view-offender-drawer .list-offender-items-incident .ant-divider.ant-divider-horizontal {
  margin: 12px 0 6px 0;
}
.view-offender-drawer .list-offender-items-incident button {
  color: #de4436;
  padding: 0 6px;
  margin-left: -6px;
  height: 26px;
  border-radius: 5px;
}
.view-offender-drawer .empty-list {
  padding-right: 24px;
}
.feed-card {
  max-width: 100%;
  min-width: 100%;
  margin: 5px 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 0.5px solid #72849a36;
  position: relative;
}
@media (min-width: 650px) {
  .feed-card {
    width: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    min-width: calc(50% - 1rem);
    margin: 0.5rem;
  }
}
@media (min-width: 1240px) {
  .feed-card {
    width: calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    min-width: calc(33.33% - 10px);
    margin: 5px;
  }
}
@media (min-width: 1800px) {
  .feed-card {
    width: calc(25% - 1.6rem);
    max-width: calc(25% - 1.6rem);
    min-width: calc(25% - 1.6rem);
    margin: 0.8rem;
  }
}
.feed-card .ant-card-body {
  padding: 0;
}
.feed-card .dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  z-index: 5;
  cursor: pointer;
}
.feed-card .dropdown-menu .kebab {
  height: 42px;
  width: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
}
.feed-card .dropdown-menu .kebab .dot {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #757575;
}
.feed-card .image-carousel {
  position: relative;
  height: 265px;
  width: 100%;
}
.feed-card .image-carousel img {
  width: 100%;
  height: 265px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.feed-card .image-carousel .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 121.5px;
  z-index: 3;
  width: 32px;
  height: 32px;
  padding: 6px;
  margin: 6px;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.2s;
}
.feed-card .image-carousel .arrow:active {
  background-color: rgba(44, 44, 44, 0.6);
}
.feed-card .image-carousel .left {
  left: 0;
}
.feed-card .image-carousel .right {
  right: 0;
}
.feed-card .image-carousel button {
  border: none;
  background-color: transparent;
}
.feed-card .image-carousel .dots {
  margin-bottom: 25px;
}
.feed-card .no-image {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #d7d7d7;
}
.feed-card .no-image .ant-typography {
  color: #959595;
  margin-top: 4px;
}
.feed-card .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.feed-card .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  position: relative;
  display: flex;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  justify-content: space-between;
  flex: 1;
  margin: 0;
}
.feed-card .ant-tabs-bottom > .ant-tabs-nav,
.feed-card .ant-tabs-bottom > div > .ant-tabs-nav,
.feed-card .ant-tabs-top > .ant-tabs-nav,
.feed-card .ant-tabs-top > div > .ant-tabs-nav {
  margin: 0;
}
.feed-card .ant-tabs-tab {
  margin: 0;
  width: 32%;
  display: flex;
  justify-content: center;
}
.feed-card .ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
  width: 32%;
  display: flex;
  justify-content: center;
}
.feed-card .tab-pane-content {
  height: 215px;
}
.feed-card .empty-content span.ant-typography {
  text-align: center;
}
.feed-card .unapproved-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 8;
  margin: 0;
}
.feed-card .unapproved-overlay h3.ant-typography {
  color: #fff;
}
.feed-card .unapproved-overlay span.ant-typography {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}
.feed-card .unapproved-options {
  position: absolute;
  top: 225px;
  left: 0;
  z-index: 6;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
}
.feed-card .unapproved-options .option {
  margin-top: 0;
  margin-bottom: 0;
  height: 32px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.feed-card .unapproved-options .approve {
  color: #4caf50;
}
.feed-card .unapproved-options .decline {
  color: #f44336;
  flex: 1;
}
.feed-card .unapproved-options .cancel {
  color: #bdbdbd;
}
.expanded-menu {
  margin-right: 3px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.expanded-menu .menu-item {
  display: flex;
  align-items: center;
}
.expanded-menu .menu-item span {
  font-size: 14px;
  color: #757575;
  margin-left: 8px;
}
.expanded-menu .delete span {
  font-size: 14px;
  color: #ef5350;
  margin-left: 8px;
}
.feed-search-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.feed-search-filter-container .spacer {
  width: 30%;
}
.feed-search-filter-container .search-filter-bar-container {
  display: flex;
  align-items: center;
  width: 35%;
}
.feed-search-filter-container .applied-filters-container {
  display: flex;
  justify-content: center;
  width: 30%;
}
.feed-search-filter-container .applied-filters-container .applied-filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 36px;
}
.search-filter-bar {
  display: flex;
  width: 100%;
}
.search-filter-bar .input-container {
  display: flex;
  width: 100%;
  align-items: center;
}
.search-filter-bar .input-container .search-icon {
  font-size: 22px;
  color: #ef5350;
  margin-right: 10px;
}
.search-filter-bar .icons-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
}
.search-filter-bar .icons-container .icon {
  color: #ef5350;
}
.search-filter-bar .icons-container .filter {
  font-size: 28px;
  margin-right: 5px;
}
.search-filter-bar .icons-container .arrow {
  font-size: 21px;
  color: #ef5350;
}
.search-filter-bar .icons-container .up {
  margin-bottom: 8px;
}
.search-filter-bar .icons-container .down {
  margin-top: 8px;
  margin-left: -8px;
}
.loading .ant-spin {
  color: #de4436;
}
.clickable-row {
  cursor: pointer;
}
.footer {
  font-size: 12px;
  height: 30px;
}
